[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dependencies/ntapi"]
	path = dependencies/ntapi
	url = https://github.com/zeffy/ntapi.git
[submodule "dependencies/pugixml"]
	path = dependencies/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "dependencies/wil"]
	path = dependencies/wil
	url = https://github.com/Microsoft/wil.git
[submodule "dependencies/SafeInt"]
	path = dependencies/SafeInt
	url = https://github.com/dcleblanc/SafeInt.git
[submodule "dependencies/processhacker"]
	path = dependencies/processhacker
	url = https://github.com/processhacker/processhacker.git
[submodule "dependencies/cx_fnv1a"]
	path = dependencies/cx_fnv1a
	url = https://github.com/zeffy/cx_fnv1a.git
[submodule "dependencies/Detours"]
	path = dependencies/Detours
	url = https://github.com/microsoft/Detours.git
